<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd"
       default-autowire="byName" default-lazy-init="false">

    <bean id="protocolConfig" class="fep.bp.realinterface.conf.ProtocolConfig" scope="singleton">
        <constructor-arg index="0" value="classpath:conf/fep/bp/realinterface/protocol-data-config-mapping.xml" />
        <constructor-arg index="1" value="classpath:conf/fep/bp/realinterface/protocol-data-config.xml" />
    </bean>

    <bean id="encoder" class="fep.bp.utils.encoder.encoder376.Encoder376">
        <property name="config" ref="protocolConfig"/>
    </bean>

    <bean id="decoder101" class="fep.bp.utils.decoder.Decoder376_02">
        <property name="config" ref="protocolConfig"/>
    </bean>

    <bean id="encoder101" class="fep.bp.utils.encoder.encoder376.Encoder376">
        <property name="config" ref="protocolConfig"/>
    </bean>
    
    <bean id="decoder100" class="fep.bp.utils.decoder.Decoder376_01">
        <property name="config" ref="protocolConfig"/>
    </bean>

    <bean id="encoder100" class="fep.bp.utils.encoder.encoder376.Encoder376">
        <property name="config" ref="protocolConfig"/>
    </bean>

    <bean id="rtTaskService" class="fep.bp.dal.RTTaskServiceIMP">
        <property name="dataSource" ref="dataSource" />
        <property name="oracleLobHandler" ref="oracleLobHandler" />
    </bean>

    <bean id="realTimeProxy376" class="fep.bp.realinterface.RealTimeProxy376">
        <property name="taskService" ref="rtTaskService" />
        <property name="equipMap" ref="equipMap" />
        <property name="decoder100" ref="decoder100" />
        <property name="encoder100" ref="encoder100" />
        <property name="decoder101" ref="decoder101" />
        <property name="encoder101" ref="encoder101" />
    </bean>

    <bean id="nativeJdbcExtractor" class="org.springframework.jdbc.support.nativejdbc.CommonsDbcpNativeJdbcExtractor" />
    <bean id="oracleLobHandler" class="org.springframework.jdbc.support.lob.OracleLobHandler">
        <property name="nativeJdbcExtractor">
            <ref local="nativeJdbcExtractor" />
        </property>
    </bean>
    
    <bean id="equipMap" class="fep.bp.utils.equipMap.EquipMap">
        <property name="dataSource" ref="dataSource" />
    </bean>

</beans>