<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.sgmp.webapp.mapper.module.ProtectorDataQueryMapper">

    <sql id="queryFrom">
        from D_EC_CURV_C D, C_GP GP, C_PS PS, G_TG TG, O_ORG O
    </sql>

    <sql id="queryWhere">
        where GP.GP_ID = D.GP_ID
          and GP.GP_ID = PS.GP_ID
          and TG.TG_ID = GP.OBJECT_ID and GP.GP_TYPE = '2'
          and O.ORG_ID = TG.ORG_ID
          <choose>
              <when test="soTgId != null and soTgId != 0">and TG.TG_ID = #{soTgId}</when>
          </choose>
          <choose>
              <when test="soGpId != null and soGpId != 0">and GP.GP_ID = #{soGpId}</when>
          </choose>
          and D.DATA_TIME &gt;= TO_DATE(#{startDate}, 'YYYY-MM-DD')
          and D.DATA_TIME &lt; TO_DATE(#{endDate}, 'YYYY-MM-DD') + 1
    </sql>

    <select id="getList" parameterType="java.util.Map" resultType="java.util.Map">
        <include refid="PagingQuery.queryHeader" />
        select O.ORG_NAME, TG.TG_NAME, PS.PS_NAME, PS.ASSET_NO, 
               GP.CT_TIMES, GP.PT_TIMES, GP.CT_TIMES * GP.PT_TIMES as TOTAL_TIMES, 
               TO_CHAR(D.DATA_TIME, 'YYYY-MM-DD HH24:MI:SS') as DATA_TIME, 
               D.ECUR_A, D.ECUR_B, D.ECUR_C, D.ECUR_L, D.ECUR_S, D.VOLT_A, D.VOLT_B, D.VOLT_C
          <include refid="queryFrom" />
          <include refid="queryWhere" />
          <include refid="PagingQuery.querySort" />
        <include refid="PagingQuery.queryFooter" />
    </select>

    <select id="getCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(1) as CNT
          <include refid="queryFrom" />
          <include refid="queryWhere" />
    </select>

</mapper>