<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.sgmp.webapp.mapper.module.ProtectorControlCommandSendingMapper">

    <sql id="queryFrom">
        from C_GP GP, C_PS PS, C_TERMINAL TERM
    </sql>

    <sql id="queryWhere">
        where GP.GP_ID = PS.GP_ID
          and TERM.TERM_ID = GP.TERM_ID
          <choose>
              <when test="soGpId != null and soGpId != 0">and GP.GP_ID = #{soGpId}</when>
          </choose>
    </sql>

    <select id="getInteractionObjectList" parameterType="java.util.Map" resultType="java.util.Map">
        select TERM.TERM_ID, TERM.LOGICAL_ADDR, TERM.PROTOCOL_NO as TERM_OROTOCOL, 
               PS.PS_ID, PS.MODEL_CODE, PS.COMM_MODE_GM, PS.BTL, PS.PS_TYPE,
               GP.GP_ID, GP.GP_SN, GP.GP_CHAR, GP.GP_ADDR, GP.PORT, GP.PROTOCOL_NO as GP_PROTOCOL
          <include refid="queryFrom" />
          <include refid="queryWhere" />
    </select>

    <select id="getInteractionObjectCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(1) as CNT
          <include refid="queryFrom" />
          <include refid="queryWhere" />
    </select>

    <select id="getInteractionObject" parameterType="java.util.Map" resultType="java.util.Map">
        select TERM.TERM_ID, TERM.LOGICAL_ADDR, TERM.PROTOCOL_NO as TERM_OROTOCOL, 
               PS.PS_ID, PS.MODEL_CODE, PS.COMM_MODE_GM, PS.BTL, PS.PS_TYPE,
               GP.GP_ID, GP.GP_SN, GP.GP_CHAR, GP.GP_ADDR, GP.PORT, GP.PROTOCOL_NO as GP_PROTOCOL
          <include refid="queryFrom" />
          <include refid="queryWhere" />
    </select>

</mapper>