<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.sgmp.webapp.mapper.module.TgMapper">

    <!-- 定义数据库字段与实体对象的映射关系 -->
    <resultMap type="org.sgmp.webapp.pojo.module.Tg" id="tgResultMap">
        <id column="TG_ID" property="id" javaType="java.lang.Long" jdbcType="NUMERIC" />
        <result column="ORG_ID" property="orgId" javaType="java.lang.Long" jdbcType="NUMERIC" />
        <result column="TG_NO" property="tgNo" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result column="TG_NAME" property="tgName" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result column="TG_CAP" property="tgCap" javaType="java.lang.Float" jdbcType="NUMERIC" />
        <result column="INST_ADDR" property="instAddr" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result column="CHG_DATE" property="chgDate" javaType="java.util.Date" jdbcType="TIMESTAMP" />
        <result column="PUB_PRIV_FLAG" property="pubPrivFlag" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result column="RUN_STATUS_CODE" property="runStatus" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result column="LASTTIME_STAMP" property="lastTimestamp" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </resultMap>

    <insert id="create" parameterType="tg">
        <selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="id">
            select SEQ_G_TG.NEXTVAL as ID from DUAL
        </selectKey>
        insert into G_TG(TG_ID, ORG_ID, TG_NO, TG_NAME, TG_CAP, INST_ADDR, CHG_DATE, PUB_PRIV_FLAG, RUN_STATUS_CODE, LASTTIME_STAMP)
        values(#{id,jdbcType=NUMERIC}, #{orgId,jdbcType=NUMERIC}, #{tgNo,jdbcType=VARCHAR}, #{tgName,jdbcType=VARCHAR}, #{tgCap,jdbcType=NUMERIC}, #{instAddr,jdbcType=VARCHAR}, #{chgDate,jdbcType=TIMESTAMP}, #{pubPrivFlag,jdbcType=VARCHAR}, #{runStatus,jdbcType=VARCHAR}, #{lastTimestamp,jdbcType=TIMESTAMP})
    </insert>

    <update id="update" parameterType="tg">
        update G_TG set
                ORG_ID = #{orgId,jdbcType=NUMERIC},
                TG_NO = #{tgNo,jdbcType=VARCHAR},
                TG_NAME = #{tgName,jdbcType=VARCHAR},
                TG_CAP = #{tgCap,jdbcType=NUMERIC},
                INST_ADDR = #{instAddr,jdbcType=VARCHAR},
                CHG_DATE = #{chgDate,jdbcType=TIMESTAMP},
                PUB_PRIV_FLAG = #{pubPrivFlag,jdbcType=VARCHAR},
                RUN_STATUS_CODE = #{runStatus,jdbcType=VARCHAR},
                LASTTIME_STAMP = #{lastTimestamp,jdbcType=TIMESTAMP}
         where TG_ID = #{id}
    </update>

    <delete id="delete" parameterType="tg">
        delete from G_TG
         where TG_ID = #{id}
    </delete>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete from G_TG
         where TG_ID = #{id}
    </delete>

    <select id="getById" parameterType="java.lang.Long" resultType="tg" resultMap="tgResultMap">
        select TG_ID, ORG_ID, TG_NO, TG_NAME, TG_CAP, INST_ADDR, CHG_DATE, PUB_PRIV_FLAG, RUN_STATUS_CODE, LASTTIME_STAMP
          from G_TG
         where TG_ID = #{id}
    </select>

    <select id="getList" parameterType="java.util.Map" resultType="java.util.List" resultMap="tgResultMap">
        select TG_ID, ORG_ID, TG_NO, TG_NAME, TG_CAP, INST_ADDR, CHG_DATE, PUB_PRIV_FLAG, RUN_STATUS_CODE, LASTTIME_STAMP
          from G_TG TG
         where 1 = 1
          <choose>
              <when test="orgId != null and orgId != 0">and exists (select 1 from (select * from O_ORG start with ORG_ID = #{orgId} connect by P_ORG_ID = prior ORG_ID) O where O.ORG_ID = TG.ORG_ID)</when>
          </choose>
         order by TG_NAME
    </select>

    <select id="getCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(1) as CNT
          from G_TG
         where 1 = 1
          <choose>
              <when test="orgId != null and orgId != 0">and exists (select 1 from (select * from O_ORG start with ORG_ID = #{orgId} connect by P_ORG_ID = prior ORG_ID) O where O.ORG_ID = TG.ORG_ID)</when>
          </choose>
    </select>

</mapper>