<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.sgmp.webapp.mapper.module.TgMeterDataReadingMapper">

    <sql id="queryFrom">
        from C_GP GP, C_MP MP, C_METER M, C_TERMINAL T, G_TG TG, O_ORG O
    </sql>

    <sql id="queryWhere">
        where MP.MP_ID = GP.MP_ID
          and M.METER_ID = MP.METER_ID
          and TG.TG_ID = MP.TG_ID
          and T.TERM_ID = GP.TERM_ID
          and O.ORG_ID = TG.ORG_ID
          <choose>
              <when test="soOrgId != null and soOrgId != 0">and exists (select 1 from (select * from O_ORG start with ORG_ID = #{soOrgId} connect by P_ORG_ID = prior ORG_ID) O where O.ORG_ID = TG.ORG_ID)</when>
          </choose>
          <choose>
              <when test="soTgId != null and soTgId != 0">and TG.TG_ID = #{soTgId}</when>
          </choose>
          <choose>
              <when test="soGpId != null and soGpId != 0">and GP.GP_ID = #{soGpId}</when>
          </choose>
    </sql>

    <select id="getInteractionObjectList" parameterType="java.util.Map" resultType="java.util.Map">
        <include refid="PagingQuery.queryHeader" />
        select O.ORG_NAME, TG.TG_NAME, T.LOGICAL_ADDR, MP.MP_NAME, M.ASSET_NO, 
               GP.GP_ID, GP.GP_SN, GP.GP_ADDR, 
               GP.CT_TIMES, GP.PT_TIMES, GP.CT_TIMES * GP.PT_TIMES as TOTAL_TIMES
          <include refid="queryFrom" />
          <include refid="queryWhere" />
          <include refid="PagingQuery.querySort" />
        <include refid="PagingQuery.queryFooter" />
    </select>

    <select id="getInteractionObjectCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(1) as CNT
          <include refid="queryFrom" />
          <include refid="queryWhere" />
    </select>

    <select id="getInteractionObject" parameterType="java.util.Map" resultType="java.util.Map">
    </select>

</mapper>