@CHARSET "UTF-8";

* {
    font-size: 12px;
}

body {
    width: 100%;
    height: 100%;
    font-family: helvetica,tahoma,verdana,sans-serif;
    padding: 20px;
    font-size: 13px;
    margin: 0;
}

.sgmp-icon-home {
    background: url('../img/menu/home.png') no-repeat center center;
}

.sgmp-icon-tg {
    background: url('../img/menu/tg.png') no-repeat center center;
}

.sgmp-icon-setup {
    background: url('../img/menu/setup.png') no-repeat center center;
}

.sgmp-icon-query {
    background: url('../img/menu/query.png') no-repeat center center;
}