<?xml version="1.0" encoding="UTF-8" ?>    
<!DOCTYPE configuration PUBLIC
        "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!-- 定义实体类的别名 -->
    <typeAliases>
        <typeAlias type="org.sgmp.webapp.pojo.module.Orgnization" alias="orgnization" />
    </typeAliases>

    <!-- 定义映射资源 -->
    <mappers>
    </mappers>

</configuration>