<?xml version="1.0" encoding="UTF-8" ?>    
<!DOCTYPE configuration PUBLIC
        "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!-- 定义实体类的别名 -->
    <typeAliases>
        <typeAlias type="org.sgmp.webapp.pojo.module.Operator" alias="operator" />
        <typeAlias type="org.sgmp.webapp.pojo.module.Orgnization" alias="orgnization" />
        <typeAlias type="org.sgmp.webapp.pojo.module.Tg" alias="tg" />
        <typeAlias type="org.sgmp.webapp.pojo.module.Transformer" alias="transformer" />
        <typeAlias type="org.sgmp.webapp.pojo.module.Terminal" alias="terminal" />
        <typeAlias type="org.sgmp.webapp.pojo.module.RelationTerminalAndObject" alias="relationTerminalAndObject" />
        <typeAlias type="org.sgmp.webapp.pojo.module.GatherPoint" alias="gatherPoint" />
        <typeAlias type="org.sgmp.webapp.pojo.module.MeasuringPoint" alias="measuringPoint" />
        <typeAlias type="org.sgmp.webapp.pojo.module.Meter" alias="meter" />
        <typeAlias type="org.sgmp.webapp.pojo.module.Protector" alias="protector" />
    </typeAliases>

    <!-- 定义映射资源 -->
    <mappers>
    </mappers>

</configuration>